<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>


</head>
<body onload="loadUserTable(); loadNavbar()">

<!-- Navbar -->
<nav class="navbar navbar-dark bg-dark p-0">
    <div class="container-fluid">
        <a class="navbar-brand">
            <b id="navbar-email"> user@mail.ru </b> with roles: <span id="navbar-roles">ROLE</span>
        </a>
        <span class="navbar-text">
        <a type="button" class="btn text-secondary"  role="button" th:href="@{/logout}">
            Logout
        </a>
        </span>
    </div>
</nav>


<div class="container-fluid">
    <div class="row">
        <div class="col-2 p-0 mt-3">
            <nav class="nav nav-pills flex-column">
                <a class="nav-link active" href="/admin/">Admin</a>
                <div sec:authorize="hasRole('USER')">
                    <a class="nav-link" href="/user">User</a>
                </div>
            </nav>
        </div>
        <div class="col p-3 m-0 bg-light text-dark min-vh-100">
            <h2>Admin panel</h2>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
                            type="button" role="tab" aria-controls="home" aria-selected="true">
                        Users table
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile"
                            type="button" role="tab" aria-controls="profile" aria-selected="false">
                        New user
                    </button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <!-- Table -->
                    <div class="row p-0 m-0">
                        <div class="col-12 px-3 pt-2 pb-1 m-0 border rounded-top">
                            <h5>All users</h5>
                        </div>
                    </div>
                    <div class="row p-0 m-0">
                        <div class="col p-3 m-0 bg-white text-dark border rounded-bottom">
                            <table class="table table-striped bg-white text-dark border-top">
                                <thead>
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">First name</th>
                                    <th scope="col">Last name</th>
                                    <th scope="col">Age</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Roles</th>
                                    <th scope="col">Edit</th>
                                    <th scope="col">Delete</th>

                                </tr>
                                </thead>
                                <tbody id="my-body1">
                               <!--JS filling-->
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="row p-0 m-0">
                        <div class="col-12 px-3 pt-2 pb-1 m-0 border rounded-top">
                            <h5>Add new user</h5>
                        </div>
                    </div>
                    <div class="row p-0 m-0 bg-white text-dark border rounded-bottom justify-content-center">
                        <div class="col-4 p-1 align-self-center text-center">
                            <form id="addForm" name="addForm" >
                                <div class="py-2">
                                    <label for="firstName3" class="fw-bold">First name</label>
                                    <input type="text"  class="form-control form-control-sm " placeholder="First name" id="firstName3" name="firstName3">
                                </div>

                                <div class="py-2">
                                    <label for="lastName3" class="fw-bold">Last name</label>
                                    <input type="text"  class="form-control form-control-sm " placeholder="Last name" id="lastName3" name="lastName3">
                                </div>

                                <div class="py-2">
                                    <label for="userPassword" class="fw-bold">Password</label>
                                    <input id="userPassword" name="userPassword" type="password" class="form-control form-control-sm " placeholder="Password" aria-label="name" minlength="3" required>
                                </div>


                                <div class="py-2">
                                    <label for="userAge" class="fw-bold">Age</label>
                                    <input id="userAge" name="userAge" type="number" class="form-control form-control-sm " placeholder="Age" aria-label="name">
                                </div>


                                <div class="py-2">
                                    <label for="userLogin" class="fw-bold">Email</label>
                                    <input id="userLogin" name="userLogin" type="email" class="form-control form-control-sm " placeholder="Email" aria-label="name">
                                </div>

                                <div class="py-2">
                                    <label for="roles" class="fw-bold">Role:</label>
                                    <select class="form-select" id="roles" name="roles" size="2" aria-label="size 2 select example" multiple="multiple"  required>
                                        <option  th:each="role : ${allRoles}" th:text="${role.name}" th:value="${role.name}">Admin</option>
                                    </select>
                                </div>

                                <div class="py-3">
                                    <button type="submit" class="btn btn-success">Add new user</button>
                                </div>

                            </form>


                        </div>
                    </div>
                </div>
            </div>




        </div>
    </div>
</div>





<div class="modal" id='defaultEdit' aria-hidden="true">
    <div class="modal-dialog">
        <form id="editForm" name="editForm" >
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="Modal">Edit user</h5>
                <button type="button" class="close btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body col-6 align-self-center text-center">
                <fieldset>
                    <!-- Содержм -->
                    <div class="py-2">
                        <label for="editId" class="fw-bold">ID</label>
                        <input type="text" name="editId" class="form-control form-control-sm " placeholder="ID" id="editId" readonly>
                    </div>

                    <div class="py-2">
                        <label for="editFirstName" class="fw-bold">First name</label>
                        <input type="text" name="editFirstName" class="form-control form-control-sm " placeholder="First name" id="editFirstName">
                    </div>

                    <div class="py-2">
                        <label for="editLastName" class="fw-bold">Last name</label>
                        <input type="text" name="editLastName" class="form-control form-control-sm " placeholder="Last name" id="editLastName">
                    </div>


                    <div class="py-2">
                        <label for="editAge" class="fw-bold">Age</label>
                        <input type="text" name="editAge" class="form-control form-control-sm " placeholder="Age" id="editAge">
                    </div>


                    <div class="py-2">
                        <label for="editEmail" class="fw-bold">Email</label>
                        <input type="text" name="editEmail" class="form-control form-control-sm " placeholder="Email" id="editEmail">
                    </div>

                    <div class="py-2">
                        <label for="editPassword" class="fw-bold">Password</label>
                        <input type="password" name="editPassword" class="form-control form-control-sm " placeholder="Password" required id="editPassword" minlength="3">
                    </div>

                    <div class="py-2">
                        <label for="editRoles" class="fw-bold">Role:</label>
                        <select class="form-select" name="roles" id="editRoles" size="2" aria-label="size 2 select example" multiple="multiple" required>
                            <option  th:each="role : ${allRoles}" th:text="${role.name}" th:value="${role.name}">Admin</option>
                        </select>
                    </div>
                </fieldset>
            </div>
            <div class="modal-footer">
                <button type="button" class="close btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary submit-edit">
                    Edit
                </button>
            </div>
        </div>
        </form>
    </div>
</div>

<div class="modal" id='defaultDelete' aria-hidden="true">
    <div class="modal-dialog">
        <form id="deleteForm" name="deleteForm" >
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="Modal1">Delete user</h5>
                    <button type="button" class="close btn-close button-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body col-6 align-self-center text-center">
                    <fieldset disabled>
                        <div class="py-2">
                            <label for="deleteId" class="fw-bold">ID</label>
                            <input type="text" name="deleteId" class="form-control form-control-sm " placeholder="ID" id="deleteId" readonly>
                        </div>

                        <div class="py-2">
                            <label for="deleteFirstName" class="fw-bold">First name</label>
                            <input type="text" name="deleteFirstName" class="form-control form-control-sm " placeholder="First name" id="deleteFirstName" readonly>
                        </div>

                        <div class="py-2">
                            <label for="deleteLastName" class="fw-bold">Last name</label>
                            <input type="text" name="deleteLastName" class="form-control form-control-sm " placeholder="Last name" id="deleteLastName" readonly>
                        </div>


                        <div class="py-2">
                            <label for="deleteAge" class="fw-bold">Age</label>
                            <input type="text" name="deleteAge" class="form-control form-control-sm " placeholder="Age" id="deleteAge" readonly>
                        </div>


                        <div class="py-2">
                            <label for="deleteEmail" class="fw-bold">Email</label>
                            <input type="text" name="deleteEmail" class="form-control form-control-sm " placeholder="Email" id="deleteEmail" readonly>
                        </div>

                        <div class="py-2">
                            <label for="deletePassword" class="fw-bold">Password</label>
                            <input type="password" name="deletePassword" class="form-control form-control-sm " placeholder="Password" required id="deletePassword" minlength="3" readonly>
                        </div>

                        <div class="py-2">
                            <label for="deleteRoles" class="fw-bold">Role:</label>
                            <select class="form-select" name="roles" id="deleteRoles" size="2" aria-label="size 2 select example" multiple="multiple">
                                <option  th:each="role : ${allRoles}" th:text="${role.name}" th:value="${role.name}">Admin</option>
                            </select>
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button type="button" id="deleteClose2" class="close btn btn-secondary button-close" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger submit-delete">
                        Delete
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>


<script src="/js/app.js"></script>
</body>
</html>



